---
import Hero from '../components/Hero.astro'
import Header from '../components/Header.astro'
import Projects from '../components/Projects.astro'
import Education from '../components/Education.astro'
import Skills from '../components/Skills.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/me-removebg-preview.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Deivy Portfolio</title>
	</head>
	<body>
		
		<Header />
		<section id="home">
		<Hero />
	    </section>
		<section id="projects">
		    <Projects />
		</section>
		<section id="education">
		    <Education />
		</section>
		<section id="skills">
		    <Skills />
		</section>
	</body>
</html>


<style is:global>
	 html {
    background: #fff;
    letter-spacing: -0.025rem;
	background: radial-gradient(circle, #1A1A2E, #000000);
  }

  body,
  figure {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    font-family:
      sans-serif;
  }

  p {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
  }


  section {
        max-width: 700px;
        margin: 5px auto 52px;
    }
</style>