



<section>
        <h2 class="text-2xl font-bold mb-6 max-md:text-center dark:text-white">Education</h2>

        <div class="flex justify-between max-md:justify-center">
            <div>
            <h3 class="dark:text-white mb-2">I.E La independencia</h3>
            <p class="text-slate-500 mb-2">Software Development Technician</p>
            </div>
            <div>
                <p class="">2022 - 2023</p>
            </div>
        </div>

        <div class="flex justify-between max-md:justify-center">
            <div>
            <h3 class="dark:text-white mb-2 max-md:mr-32">Codigo C13</h3>
            <p class="text-slate-500 mb-2">web development</p>
            </div>
            <div>
                <p>2023 - Current</p>
            </div>
        </div>

        <div class="flex justify-between mb-24 max-md:justify-center">
            <div>
            <h3 class="dark:text-white mb-2 max-md:mr-14">University Pascual Bravo</h3>
            <p class="text-slate-500 mb-2">software engineering</p>
            </div>
            <div>
                <p>2024 - Current</p>
            </div>
        </div>

</section>