---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <section>
        <div class="-full top-0 fixed flex justify-between items-center py-1 px-5 z-20  bg-opacity-10  dark:bg-gray-800 bg-opacity-80 dark:bg-opacity-80 backdrop-blur-lg">
            <div class="flex items-center">
                <img src="../../me-removebg-preview.png" alt="Me" class="w-12 rounded-full" />
                <div class="flex flex-col m-2">
                    <h6 class="font-bold text-zinc-200">Deivy Patiño</h6>
                    <p>Software Developer</p>
                </div>
            </div>
            <div class="flex items-center gap-4 text-white ml-40 sm:hidden">
                <button id="menuButton" class="focus:outline-none">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            
            <div id="menuItems" class=" gap-4 text-white ml-40 max-sm:ml-2 max-sm:absolute max-sm:top-24 sm:flex max-sm:bg-zinc-800 max-sm:p-5 max-sm:rounded transition-all duration-500 ease-in-out hidden">
                <a class="cursor-pointer hover:underline max-sm:ml-5" href="#home">Home</a>
                <a class="cursor-pointer hover:underline max-sm:ml-5" href="#projects">Projects</a>
                <a class="cursor-pointer hover:underline max-sm:ml-5" href="#education">Education</a>
                <a class="cursor-pointer hover:underline max-sm:ml-5" href="#skills">Skills</a>
            </div>
        </div>
        </section>
</body>
</html>


<style>
a.cursor-pointer {
    transition: transform 0.3s ease; 
    display: inline-block; 
}

a.cursor-pointer:hover {
    transform: translateY(-2px);
}

</style>


<script>

document.getElementById('menuButton').addEventListener('click', function() {
        document.getElementById('menuItems').classList.toggle('hidden');
    });

document.addEventListener("DOMContentLoaded", function() {
    const links = document.querySelectorAll("a[href^='#']");
    links.forEach(link => {
        link.addEventListener("click", function(e) {
            e.preventDefault();
            const targetId = this.getAttribute("href").substring(1);
            const targetElement = document.getElementById(targetId);
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: "smooth" });
            }
        });
    });
});

</script>