<section>
    <h4>Projects</h4>

    <div class="flex flex-col">

        <div class="flex">

            <div class="flex">
            <img />
            <h2>GeoAPP</h2>
            <p>Web site for travelers created with the mern
                stack, worked in teamwork
            </p>
            </div>
        </div>

    </div>
</section>
